.main-div {
    margin: 0 auto;
}

nav a {
    color: rgb(102, 101, 101);
}

.page-navigation-links {
    font-size: 18px;
    font-weight: bold;
}

.page-navigation-links :hover {
    color: black;
}

.global-search {
    margin-top: 7px;
    width: 400px !important;
    font-size: 15px;
    height: 30px;
}

.register-login-navigation {
    font-size: 15px;
}

.submit-tutorial:hover {
    background-color: #007AFF;
    color: white !important;
    border-radius: 5px;
}

.nav-icon {
    width: 15px;
    height: 15px;
}

#title {
    text-align: center;
    padding-bottom: 10px;
}

.navbar-search-input {
    margin: 0 auto;
    width: 70%;
    font-size: 20px;
}

.cards-row {
    padding: 200px;
}


.card:hover {
    margin-top: -2px;
}

.tutorial-link {
    background-color: #B048BA;
    color: white;
    font-size: small;
    padding-top:4px;
    padding-bottom:4px;
    width: 100%;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
}
i {
    color: white;
}

.reviewd {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px; 
    width: fit-content;
   height: fit-content;
    background-color: #BDBDBD ;
    color: white;
    border-radius: 50%;
}

a:hover {
    text-decoration: none;
}

.logo-image {
    width: 40px;
    height: 40px;
}

.logo-image-cousres {
    width: 60px;
    height: 60px;
}

.filter-div {
    background-color: #f4f7fb;
    height: fit-content;
}

.courses-card {
    height: 300px;
    overflow: hidden;
    border-radius: 7%;
}

.modal-title-register {
    font-size: 15px;
}

.social-network-login-buttons  {
    margin-left: 150px;
}

.random-cards {
    width: 200px;
}